

export repo_dir=~/workspace/selfsrc/continuous_integration
export backup=$prj_dir/


#export ci_dir=/home/chenyi/ci
export ci_dir=/home/chenyi/vosys
export dpdk_dir=$ci_dir/dpdk
export RTE_SDK=$dpdk_dir
